#navbar {
    padding: 15px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #333; 
    color: #333; 
    border-bottom: 2px solid #333; 
}

.landing {
    display: grid;
    grid-template-columns: auto auto;
    height: auto; 
    width: 90vw;
    margin: 40px auto;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 30px; 
    background-color: #fafafa; 
}

.landing div {
    width: 45vw; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    margin: 20px; 
    transition: transform 0.3s; 
}

.landing div:hover {
    transform: scale(1.05); 
}

.landing .right {
    background-color: #333; 
    color: white; 
}

.project {
    border: 1px solid #333; 
    border-radius: 8px; 
    padding: 20px; 
    margin: 30px; 
    background-color: #333; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #333; 
    color: #f4f4f4;
    padding: 30px; 
    text-align: center;
    border-top: 2px solid #444; 
}

.contact-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; 
    color: #333;
    border-radius: 5px;
    margin-top: 15px;
    border: none; 
    transition: background-color 0.3s; 
}

.contact-button:hover {
    background-color: black; 
}

@media (max-width: 600px) {
    .landing {
        grid-template-columns: 1fr; 
        margin: 20px auto; 
    }
}
